.cosmograph-dynamic-label {
  font-size: var(--cosmograph-label-size, 12px) !important;
  -webkit-text-stroke-width: var(--cosmograph-border-width, 0px) !important;
  -webkit-text-stroke-color: var(--cosmograph-border-color, rgba(0,0,0,0.5)) !important;
  text-stroke-width: var(--cosmograph-border-width, 0px) !important;
  text-stroke-color: var(--cosmograph-border-color, rgba(0,0,0,0.5)) !important;
}